<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>766659141129-i8lvvmpumpg3s1gj0cjiunc3jn98eumb.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.766659141129-i8lvvmpumpg3s1gj0cjiunc3jn98eumb</string>
	<key>API_KEY</key>
	<string>AIzaSyDA2PqZung2W9Mz764a_whHKZnvgNcrEuM</string>
	<key>GCM_SENDER_ID</key>
	<string>766659141129</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.christinaapps.PushMessagingSample</string>
	<key>PROJECT_ID</key>
	<string>pushmessagingsample-986c9</string>
	<key>STORAGE_BUCKET</key>
	<string>pushmessagingsample-986c9.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:766659141129:ios:58ec7512972813d8</string>
	<key>DATABASE_URL</key>
	<string>https://pushmessagingsample-986c9.firebaseio.com</string>
</dict>
</plist>